body {
  background-image: url('/fondo-tarkov.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  background-image: url('/fondo-tarkov.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; 
}